 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

.text-center{
  text-align:center;
}

.spacer-down{
  margin-top: -40px;
}

.spacer-top{
  margin-top:20px;
}

.navbar-default .navbar-toggle{
  color:#fff;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:#fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border:none;
}

.preload{
  display: none;
}