/*
 * This css file includes styles added in the jekyll port of this theme.
 * To find the original style.css that ships with Airspace, read airspace.css
 *
 */

@font-face {
    font-family: 'Arkhip';
    src: url('../fonts/Arkhip_font.ttf');
}

 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

.text-center{
  text-align:center;
}

.spacer-down{
  margin-top: -40px;
}

.spacer-top{
  margin-top:20px;
}