
exclude:
  - "/vendor/"
  - "Gemfile"
  - "Gemfile.lock"
  - "README.md"
  - "LICENSE.md"
  - "*.gemspec"

keep_files:
  - "CNAME"
  - ".git"
  - ".gitignore"


# Site settings
title: artificialdev
subtitle: "Bespoke Software Development"
url: "https://artificialdev.com" # the base hostname & protocol for your site
baseurl: ""

# Build settings
markdown: kramdown

# Google analytics
# ga_tracking_id: "UA-XXXX-1"
