<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We build powerful applications for your business.</h2>
          <p>Creating software is our passion. We love what we do and want to work with businesses to see how we can best utilise our expertise to empower their business to achieve their goals. Get in touch with us today!</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Work with us</a>
        </div>
      </div>
    </div>
  </div>
</section>