<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
          <div class='footer-wrap'>
            <a href="{{site.baseurl}}"><img src="{{ site.baseurl }}/img/white_logo_transparent@2x.png" class='footer-logo' alt="Logo"></a>
          </div>
      </div>
      <div class="col-md-8 col-sm-8">  
        <ul class='footer-list'>
            <li class="footer-li">
              <a href="mailto:sean@artificialdev.com"><i class="fa fa-white fa-lg  fa-envelope"></i></a>
            </li>
            <li class="footer-li">
              <a href="https://www.linkedin.com/organization/11179198/"><i class="fa fa-lg fa-white fa-linkedin"></i></a>
            </li>
            <li class="footer-li">
              <a href="https://twitter.com/artificialdev"><i class="fa fa-white fa-lg  fa-twitter"></i></a>
            </li>
            <li class="footer-li">
              <a href=https://www.facebook.com/artificialdev/><i class="fa fa-white fa-lg  fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
