<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/work">Our Work</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
          </ul>
          <ul style="margin-top:20px">
            <li>
              <a href="mailto:sean@artificialdev.com"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/organization/11179198/"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/artificialdev"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href=https://www.facebook.com/artificialdev/><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
