html, body{
	font-family: 'Patua One', Helvetica, sans-serif;
	height: 100%;
  	width: 100%;
	background-color:#fcfeff;
}

.wrapper{
	margin-left: auto;
	margin-right:auto;
	margin-top:10%;
	margin-bottom:0;
	text-align:center;
    width: 50%;
}

.spacer-top{
	margin-top:40px;
}

#tagline{
	font-size:14px;
	font-style: italic;
}

 
.email{
  min-height: 5%;
  padding:5px;
  color:#00a97d;
}

/* Mailchimp Styling */

#mc_embed_signup{background:#2d4163; clear:left; font:14px 'Open Sans',Arial,sans-serif; width:100%;}
#mc-embedded-subscribe{
  background-color:#00a97d;
  color:#ecf0f1;
}